# =========================
# CMake
# =========================

build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
Makefile

# =========================
# Compiled files
# =========================

*.o
*.obj
*.exe
*.out
*.a
*.so
*.dll
*.dylib

# =========================
# IDE / Editor
# =========================

.vscode/
.idea/

# =========================
# OS files
# =========================

.DS_Store
Thumbs.db
